language: ruby
rvm:
  - 2.4.7
  - 2.4.10
  - 2.5.0
  - 2.5.8
  - 2.6.0
  - 2.6.6
  - 2.7.0
  - 2.7.2
  - ruby-head
  - jruby-head
notifications:
  recipients:
    - karl@kandrsoftware.com
branches:
  only:
    - master
    - develop
before_install:
  # ensure that we are building/testing againt the newest depencency versions
  - rm Gemfile.lock
bundler_args: --without development
