language: ruby
arch:
  - amd64
  - ppc64le

rvm:
  - 2.5.0
  - 2.5.8
  - 2.6.0
  - 2.6.10
  - 2.7.0
  - 2.7.6
  - 3.0.1
  - 3.0.4
  - 3.1.0
  - 3.1.2
  - ruby-head
  - jruby-head
notifications:
  recipients:
    - karl@kandrsoftware.com
branches:
  only:
    - master
    - develop
before_install:
  # ensure that we are building/testing againt the newest depencency versions
  - rm -f Gemfile.lock
bundler_args: --without development
